*{
    margin: 0px;
    padding: 0px;
    font-family: Sans-serif;
}

header{
    background-color: #312E2B;
}

body{
    background-color: #312E2B;
}

h1{
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 42px;
}

p{
    color: white;
    font-size: 18px;
    float: left;
}

.dzis{
    margin-right: 65px;
}

.info{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: max-content;
    margin-top: 35px;
    margin-bottom: 35px;
}

.online{
    background-color: #7fa650;
    border: none;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 100px;;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 32px;
    margin-bottom: 35px;
    border-radius: 15px;
}

.przyciski{
    margin-top: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.komputer{
    background-color: #413e3c;
    border: none;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 100px;;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 32px;
    margin-bottom: 35px;
    overflow: hidden;
    height: 60px;
    border-radius: 15px;
}

h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 340px;
    font-size: 22px;
    width: 350px;
    text-align: center;
    color: white;
    
}

.szachownica{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 590px;
}